<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VEGAS</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>INPUT</legend>
            <textarea name="input" style="width: 100%;outline: none;" rows="10"></textarea>
        </fieldset>
        <br/>
        <fieldset>
            <legend>OUTPUT</legend>
            <output name="output" style="min-height: 50px;display: block;"></output>
        </fieldset>
    </form>
</body>
</html>
